[submodule "backbone/DeepFoldPublic"]
	path = backbone/DeepFoldPublic
	url = https://github.com/iitp-ppi/DeepFoldPublic
[submodule "tool/BIS-ProteinStructure-libraries"]
	path = tool/BIS-ProteinStructure-libraries
	url = https://github.com/iitp-ppi/BIS-ProteinStructure-libraries.git
[submodule "tool/galaxydock_dl"]
	path = tool/galaxydock_dl
	url = https://github.com/iitp-ppi/galaxydock_dl.git
[submodule "tool/nurikit"]
	path = tool/nurikit
	url = https://github.com/iitp-ppi/nurikit.git
[submodule "tool/tool/DiffAlign"]
	path = tool/DiffAlign
	url = https://github.com/iitp-ppi/DiffAlign.git
[submodule "tool/tool/PromptBind"]
	path = tool/PromptBind
	url = https://github.com/iitp-ppi/PromptBind.git
[submodule "tool/BAPred"]
	path = tool/BAPred
	url = https://github.com/iitp-ppi/BAPred.git
[submodule "tool/BindingRMSD"]
	path = tool/BindingRMSD
	url = https://github.com/iitp-ppi/BindingRMSD.git
[submodule "backbone/MiniWorld"]
	path = backbone/MiniWorld
	url = git@github.com:iitp-ppi/MiniWorld.git
[submodule "tool/SwinSite"]
	path = tool/SwinSite
	url = git@github.com:ding-oh/SwinSite.git
[submodule "backbone/RoseTTAFold2"]
	path = backbone/RoseTTAFold2
	url = git@github.com:iitp-ppi/iitp-RF2.git
[submodule "tool/AlphaSS"]
	path = tool/AlphaSS
	url = git@github.com:iitp-ppi/AlphaSS.git
